@using PeakSort.Core.Utilities.ComplexType
@model PeakSort.Entities.Dtos.UserListDto
@{
    ViewBag.Title = "User Index";
    Layout = "_Layout";
}
@if (Model.ResultStatus == ResultStatus.Success)
{
<div id="modelPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Kullanıcılar
    </div>
    <div class="card-body">
        <div class="spinner-border" role="status" style="display:none">
            <span class="sr-only">Yükleniyor...</span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Kullanıcı Adı</th>
                        <th>E-Posta</th>
                        <th>Telefon No</th>
                        <th>Resim</th>
                        <th>İşlemler</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Kullanıcı Adı</th>
                        <th>E-Posta</th>
                        <th>Telefon No</th>
                        <th>Resim</th>
                        <th>İşlemler</th>


                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var user in Model.Users)
                    {
                    <tr name="@user.Id">
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td><img src="~/img/@user.Picture" class="my-image-table" alt="@user.UserName"/></td>
                       
                        <td>
                            <button class="btn btn-danger btn-sm btn-delete" data-id="@user.Id"><span class="fas fa-minus-circle"></span></button>
                            <button class="btn btn-primary btn-sm btn-update" data-id="@user.Id"><span class="fas fa-edit "></span></button>
                        </td>

                    </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

}


@section Scripts
{
    <script src="~/js/userIndex.js" type="application/ecmascript"></script>
 }




